<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phone.mapper.AccessoryProfitMapper">
	<resultMap type="AccessoryProfit" id="accessoryProfitMap">
		<id property="id" column="id" />
		<result property="accessoryid" column="accessoryid" />
		<result property="purchasePrice" column="purchasePrice" />
		<result property="soldPrice" column="soldPrice" />
		<result property="profit" column="profit" />
		<result property="createTime" column="createTime" />
		<result property="operatorId" column="operatorId" />
		<result property="shopId" column="shopId" />
	</resultMap>

	<insert id="addAccessoryProfit" parameterType="AccessoryProfit">
		INSERT INTO
		TB_Accessory_Profit(
		accessoryid,
		purchasePrice,
		soldPrice,
		profit,
		createTime,
		operatorId,
		shopId
		)VALUES(
		#{accessoryid},
		#{purchasePrice},
		#{soldPrice},
		#{profit},
		#{createTime},
		#{operatorId},
		#{shopId}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

</mapper>