<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phone.mapper.PurchaseMapper">
	<resultMap type="Purchase" id="purchaseMap">
		<id property="id" column="id" />
		<result property="brandId" column="brandId" />
		<result property="phoneCode" column="phoneCode" />
		<result property="phoneModel" column="phoneModel" />
		<result property="purchasePrice" column="purchasePrice" />
		<result property="DecideSellPrice" column="DecideSellPrice" />
		<result property="CreateTime" column="CreateTime" />
		<result property="Status" column="Status" />
		<result property="operatorId" column="operatorId" />
		<result property="shopId" column="shopId" />
	</resultMap>

	<insert id="addPurchase" parameterType="Purchase">
		INSERT INTO
		TB_Phone_Purchase(
		brandId,
		phoneCode,
		phoneModel,
		purchasePrice,
		DecideSellPrice,
		CreateTime,
		Status,
		operatorId,
		shopId
		)VALUES(
		#{brandId},
		#{phoneCode},
		#{phoneModel},
		#{purchasePrice},
		#{DecideSellPrice},
		#{CreateTime},
		#{Status},
		#{operatorId},
		#{shopId}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<select id="getPurchaseList" parameterType="hashMap" resultMap="purchaseMap">
		SELECT * from TB_Phone_Purchase
		WHERE phoneModel like
		<if test="phoneModel != null">  
		CONCAT('%','${phoneModel}','%') and
		</if>
		2> status
		and shopId = #{shopId}
		order
		by
		CreateTime desc
		limit
		#{limit}
		offset
		#{offset};
	</select>

	<select id="getPurchase" parameterType="long" resultMap="purchaseMap">
		SELECT *
		from TB_Phone_Purchase
		WHERE id=#{phoneid}
		and shopId = #{shopId}
		and
		2>
		status;
	</select>

	<update id="updatePurchase" parameterType="hashMap" flushCache="true"
		statementType="PREPARED">
		UPDATE
		TB_Phone_Purchase
		set Status=#{Status}
		WHERE
		id =
		#{phoneid};
	</update>

	<select id="getPurchaseByPhoneCode" parameterType="hashMap"
		resultMap="purchaseMap">
		SELECT * from TB_Phone_Purchase
		WHERE phoneCode
		= #{phoneCode}
		and 2> status
		and shopId = #{shopId};
	</select>

	<select id="getPurchaseListByIds" resultMap="purchaseMap"
		parameterType="list">
		SELECT * from TB_Phone_Purchase where
		id in
		<foreach item="item" collection="ids" index="index" open="("
			separator="," close=")">
			#{item} 
	     </foreach>
		;
	</select>

	<!-- 查询用户的骑行数量Ridding -->
	<select id="getPurchaseCountByPhoneModel" resultType="int">
		SELECT
		count(*) from TB_Phone_Purchase where 
		<if test="phoneModel != null">  
		phoneModel like CONCAT('%','${phoneModel}','%')  and
		</if> 
		 2> status
		and shopId = #{shopId};
	</select>
</mapper>