<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phone.mapper.SelledMapper">
	<resultMap type="Selled" id="selledMap">
		<id property="phoneid" column="phoneid" />
		<result property="SelledPrice" column="SelledPrice" />
		<result property="CreateTime" column="CreateTime" />
		<result property="operatorId" column="operatorId" />
		<result property="shopId" column="shopId" />
	</resultMap>

	<insert id="addSelled" parameterType="Selled">
		INSERT INTO
		TB_Phone_Selled(
		phoneid,
		SelledPrice,
		CreateTime,
		operatorId,
		shopId
		)VALUES(
		#{phoneid},
		#{SelledPrice},
		#{CreateTime},
		#{operatorId},
		#{shopId}
		)
	</insert>

	<select id="getSelledListByIds" resultMap="selledMap"
		parameterType="List">
		select * from TB_Phone_Selled where
		phoneid in
		<foreach item="item" collection="phoneidList" index="index"
			open="(" separator="," close=")">
			#{item} 
	     </foreach>
		and shopId=#{shopId}
		;
	</select>

	<select id="getSelled" resultMap="selledMap" parameterType="hashMap">
		select * from TB_Phone_Selled where phoneid =#{phoneid}
		and
		shopId=#{shopId};
	</select>
</mapper>