<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phone.mapper.TestMapper">
	<resultMap type="Test" id="testMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="level" column="level" />
	</resultMap>

	<insert id="addTest" parameterType="Test">
		INSERT INTO
		Test(
		id,
		name,
		level
		)VALUES(
		#{id},
		#{name},
		#{level}
		)
	</insert>
</mapper>