<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Purchase" type="com.phone.meta.Purchase" />
		<typeAlias alias="Selled" type="com.phone.meta.Selled" />
		<typeAlias alias="Profit" type="com.phone.meta.Profit" />
		<typeAlias alias="Brand" type="com.phone.meta.Brand" />
		<typeAlias alias="Profile" type="com.phone.meta.Profile" />
		<typeAlias alias="Accessory" type="com.phone.meta.Accessory" />
		<typeAlias alias="AccessoryInfo" type="com.phone.meta.AccessoryInfo" />
		<typeAlias alias="AccessoryType" type="com.phone.meta.AccessoryType" />
		<typeAlias alias="AccessorySold" type="com.phone.meta.AccessorySold" />
		<typeAlias alias="AccessoryProfit" type="com.phone.meta.AccessoryProfit" />
		<typeAlias alias="DayProfit" type="com.phone.meta.DayProfit" />
		<typeAlias alias="Operation" type="com.phone.meta.Operation" />

	</typeAliases>
	<mappers>
		<mapper resource="com/phone/mapper/xml/PurchaseMapper.xml" />
		<mapper resource="com/phone/mapper/xml/SelledMapper.xml" />
		<mapper resource="com/phone/mapper/xml/ProfitMapper.xml" />
		<mapper resource="com/phone/mapper/xml/BrandMapper.xml" />
		<mapper resource="com/phone/mapper/xml/ProfileMapper.xml" />
		<mapper resource="com/phone/mapper/xml/AccessoryMapper.xml" />
		<mapper resource="com/phone/mapper/xml/AccessoryInfoMapper.xml" />
		<mapper resource="com/phone/mapper/xml/AccessoryTypeMapper.xml" />
		<mapper resource="com/phone/mapper/xml/AccessorySoldMapper.xml" />
		<mapper resource="com/phone/mapper/xml/AccessoryProfitMapper.xml" />
		<mapper resource="com/phone/mapper/xml/DayProfitMapper.xml" />
		<mapper resource="com/phone/mapper/xml/OperationMapper.xml" />
	</mappers>
</configuration>