<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Test" type="com.phone.meta.Test" />
	</typeAliases>
	<mappers>
		<mapper resource="com/phone/mapper/xml/TestMapper.xml" />
	</mappers>
</configuration>